@model PersonalSiteMVC.UI.MVC.Models.ContactViewModel

<div>
    @if (Model != null)
    {
        <h2>Thank you for your message.</h2>
        <p>I'll send a response to you as soon as possible!</p>
    }
</div>